In [ ]:
myset={10,20,30,"hey", 10,10,10,99}
myset.remove(20)
print(myset)

{99, 'hey', 10, 30}

In [ ]:
myset={10,20,30,"hey",10,10, 10,99}
myset.discard(20)
print(myset)

{99, 'hey', 10, 30}

In [ ]:
myset={10,20,30,"hey",10,10, 10,99}
mysetb={20,10,12,14}
myset.union(mysetb)

{10, 12, 14, 20, 30, 99, 'hey'}

In [ ]:
#function
#block of code = task / functionality
for i in range(0,4):
  print("")

In [ ]:
''''void main(){
    statment
}'''
#parameter => x
def msg(x):
  print("hello",x)

In [ ]:
#value => argument
msg("Mallika")
msg("Ayushi")

hello Mallika
hello Ayushi

In [ ]:
def sum(x,y):
  print(x+y)
sum(10,20)
sum(15,55)

30
70

In [ ]:
def func(x1):
  print("x1 :",x1)

#outside function => global variable
x2=1009 #variable
func(x2)

x1 : 1009

In [ ]:
def func(x2):
   x2=1300
   print("x1 :",x2) # x2 now local variable

#outside function => global variable
x2=1009
func(x2)

x1 : 1300

In [ ]:
def func(x2):
   x2=1300
   print("Inside function x2 :",x2) # x2 now local variable

#outside function => global variable
x2=1009
func(x2)
print("Outside : ", x2)

Inside function x2 : 1300
Outside :  1009

In [ ]:
def fun(x):
    print("Inside", x, id(x))


x1 = 100
print("Outside", x1, id(x1))
fun(x1)

Outside 100 136983035055440
Inside 100 136983035055440

In [ ]:
def fun(x):

    print("Inside", x, id(x))
    x=20
    print(" Change Inside", x, id(x))

x1 = 100
print("Outside", x1, id(x1))
fun(x1)

Outside 100 136983035055440
Inside 100 136983035055440
 Change Inside 20 136983035052880

In [ ]:
def employee(eid, ename):
    print(f"Eid: {eid} Ename: {ename}")
#Required Argument
employee(3,"Mallika")

Eid: 3 Ename: Mallika

In [ ]:
def employee(eid, ename):
    print(f"Eid: {eid} Ename: {ename}")
#Position Argument
employee("Mallika",3)

Eid: Mallika Ename: 3

In [ ]:
def employee(eid, ename):
    print(f"Eid: {eid} Ename: {ename}")
#keyword Argument
employee(ename="Mallika",eid=3)

Eid: 3 Ename: Mallika

In [ ]:
#Variable Length Argument
def employee(*detail):
    print(detail)

employee(10,20,30,40)
employee()

(10, 20, 30, 40)
()

In [ ]:
#Variable Length Argument
def employee(*detail):
    print(detail, type(detail))

employee(10,20,30,40)
employee()

(10, 20, 30, 40) <class 'tuple'>
() <class 'tuple'>

In [ ]:
#Lambda function
#anonymous function
def square(x):
     print(x*x)

In [ ]:
#Lambda parameter : expression
regex = lambda x: x*x
regex(20)

400

In [ ]:
#map, filter
def square(x):
  return x*x
square(9)

81

In [ ]:
def square(x):
  return x*x
mylist=[1,2,3,4,5,6,7,8,9]
list(map(square, mylist))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
def square(x):
  return x*x
mylist=["hey", "hello", "mallika"]
list(map(len, mylist))

[3, 5, 7]

In [ ]:
def square(x):
  return x*x
mylist=[1,2,3,4,5]
list(map(add, mylist))

NameError: name 'add' is not defined

In [ ]:
list(map(lambda x: x*x, mylist))

[1, 4, 9, 16, 25]

In [ ]:
list(map(lambda x: x+x, mylist))

[2, 4, 6, 8, 10]

In [ ]:
#Assingment:
#1
x = 21
y = 15
x = x + y
y = x - y
x = x - y
print("swapped x and y are:" , x,y)

swapped x and y are: 15 21

In [ ]:
#2
def rev_num(num):
    num_str = str(num)  #converts num into string
    reversed_num = num_str[::-1]  #slicing
    print("reversed digits: ", " ".join(reversed_num))  #join function for linking
num = int(input("Enter a integer: "))
rev_num(num)

Enter a integer: 1948
reversed digits:  8 4 9 1

In [ ]:
#3
def sum():
    x = int(input("Enter first digit: "))
    y = int(input("Enter second digit: "))
    z = int(input("Enter third digit: "))
    sum = x + y +z
    print("Sum of digits: ", sum)
sum()

Enter first digit: 1234
Enter second digit: 5678
Enter third digit: 9101112
Sum of digits:  9108024

In [ ]:
#4
def square():
    x = int(input("Enter first digit: "))
    y = int(input("Enter second digit: "))
    z = int(input("Enter third digit: "))
    sum  = x*x + y*y + z*z
    print("Sum of digits: ", sum)
square()

Enter first digit: 20
Enter second digit: 50
Enter third digit: 100
Sum of digits:  12900

In [ ]:
#5
def armstrong(number):
    num_str = str(number)
    num_digits = len(num_str)
    sum = 0
    for digit in num_str:
        sum += int(digit) ** num_digits
    return sum == number

number = int(input("Enter a number: "))
if armstrong(number):
    print(number, "is an Armstrong number.")
else:
    print(number, "is not an Armstrong number.")

Enter a number: 1234
1234 is not an Armstrong number.

In [ ]:
#6
def narcissist(num):
    num_str = str(num)
    num_digits = len(num_str)
    sum = 0
    for digit in num_str:
        sum += int(digit) ** num_digits
    return sum == num

num = int(input("Enter a number: "))
if narcissist(num):
    print(num, "is a narcissistic number.")
else:
    print(num, "is not a narcissistic number.")

Enter a number: 1634
1634 is a narcissistic number.

In [ ]:
#7
float_number = 3.14159
print("{:.2f}".format(float_number))

3.14

In [ ]:
#8
def factors(num):
    print("Factors of", num, "are:")
    for i in range(1, num + 1):
        if num % i == 0:
            print(i)
num = int(input("Enter a number: "))
factors(num)

Enter a number: 23
Factors of 23 are:
1
23

In [1]:
#9
float_num = []
for i in range(5):
    number = float(input(f"enter number {i+1}:"))
    float_num.append(number)
    print("the list of float numbers is :", float_num)

enter number 1:2.1
the list of float numbers is : [2.1]
enter number 2:3.5
the list of float numbers is : [2.1, 3.5]
enter number 3:4.67
the list of float numbers is : [2.1, 3.5, 4.67]
enter number 4:5.8
the list of float numbers is : [2.1, 3.5, 4.67, 5.8]
enter number 5:9.66
the list of float numbers is : [2.1, 3.5, 4.67, 5.8, 9.66]

In [2]:
#10
import math

def volume(radius, height):
    return math.pi * (radius ** 2) * height

try:
    radius_str = input("Enter the radius of the cylinder: ") # Get radius as string
    height_str = input("Enter the height of the cylinder: ") # Get height as string

    # Convert to float after getting input
    radius = float(radius_str)
    height = float(height_str)

    volume_cm = volume(radius, height)
    volume_liters = volume_cm * 1000
    cost_per_liter = 40
    total_cost = volume_liters * cost_per_liter

    print(f"Volume of the cylinder: {volume_liters:.2f} liters")
    print(f"Total cost to fill the cylinder with milk: {total_cost:.2f} Rs.")

except ValueError:
    print("Invalid input. Please enter numerical values for radius and height.")

Enter the radius of the cylinder: 4.0
Enter the height of the cylinder: 6.0
Volume of the cylinder: 301592.89 liters
Total cost to fill the cylinder with milk: 12063715.79 Rs.