In [ ]:
#exception handling => program can terminate due to some unwanted condition

In [ ]:
x =10
x+z
print("hey")

NameError: name 'z' is not defined

In [ ]:
#exception => two blocks:
# try
# except

In [ ]:
try:
    x =10
    x+z
    print("hey")
except:
      print("error handled")

error handled

In [ ]:
try:
    x =10
    x+10
    print("hey")
except:
      print("error handled")

hey

In [ ]:
# Arthimetic error
# name error
# IO error
# Identation error
# Value error

In [ ]:
x/0
#infinite

ZeroDivisionError: division by zero

In [ ]:
try:
    x =10
    x/0
    print("hey")
except NameError:    # Multiple Except block
      print("error handled")
except ZeroDivisionError:
      print("error handled as Zero")

error handled as Zero

In [ ]:
try:
    x =10
    x/0
    print("hey")
except (NameError,ZeroDivisionError):    # Multiple Except block
      print("error handled")

error handled

In [ ]:
try:
    x =10
    x[0]
    print("hey")
except (NameError,ZeroDivisionError):
      print("error handled")
except Exception:
       print("All other error")     # Exception handles all type of error

All other error

In [ ]:
try:
    x =10
    try:
       x/0
    except:
        print("error handled by Zero")
        print("hey")
except (NameError,ZeroDivisionError):
      print("error handled")
except Exception:
       print("All other error")

error handled by Zero
hey

In [ ]:
try:
    x =10
    try:
       x/0
    except:
        print("error handled by Zero")
        print("hey")
        x[0]
except (NameError,ZeroDivisionError):
      print("error handled")
except Exception:
       print("All other error")

error handled by Zero
hey
All other error

In [ ]:
try:
    x =10
    x/y
    print("hey")
except (NameError,ZeroDivisionError) as ex:
      print("error handled", ex)

error handled name 'y' is not defined

In [ ]:
try:
    x =10
    x/0
    print("hey")
except (NameError,ZeroDivisionError) as ex:
      print("error handled", ex)

error handled division by zero

In [ ]:
try:
    x =10
    x/10
    print("hey")
except (NameError,ZeroDivisionError) as ex:
      print("error handled", ex)
else:
    print("Else block executed")

hey
Else block executed

In [ ]:
try:
    x =10
    x/0
    print("hey")
except (NameError,ZeroDivisionError) as ex:
      print("error handled", ex)
else:
    print("Else block executed")

error handled division by zero

In [ ]:
try:
    x =10
    x/0
    print("hey")
except (NameError,ZeroDivisionError) as ex:
      print("error handled", ex)
finally:
    print("finally block executed")

error handled division by zero
finally block executed

In [ ]:
#print cummalitive sum of a list
#[10, 15, 20, 30, 40]
#output [10, 25, 45, 75, 115]
list = [10, 15, 20, 30, 40]
cummalitive_sum = []
sum = 0
for i in list:
    sum = sum + i
    cummalitive_sum.append(sum)
print(cummalitive_sum)

[10, 25, 45, 75, 115]

In [15]:
def deposite(days):
    total_deposite = 0
    amount = 0
#week1 = [1, 2, 3, 4, 5, 6, 7]
#week2 = [2, 3, 4, 5, 6, 7, 8]
    for day in range(1, days +1):
        week_day = (day - 1)%7 + 1
        if week_day == 1:
           amount += 1
        deposite = amount + (week_day - 1)
        total_deposite += deposite
    return(total_deposite)
days = 34
total_deposite = deposite(days)
print("total amount till day", days, ":", total_deposite)

total amount till day 34 : 199