In [ ]:
for i in range (5):
    for j in range(5-i):
         print("*", end=" ")
    print("")

* * * * *
* * * *
* * *
* *
*

In [ ]:
for i in range (5):
    for j in range(i+1):
         print("*", end=" ")
    print("")

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range (1,4):
    for j in range(1,4):
        print("*", end=" ")
    print("")

* * *
* * *
* * *

In [ ]:
for i in range(0, 5):
    for j in range(0, 5):
        print("*", end="")
    print()

*****
*****
*****
*****
*****

In [ ]:
for i in range (1,4):
    for j in range(i,3):
        print("*", end=" ")
    print("")

* *
*

In [ ]:
for i in range (1,5):
    for j in range(i,4):
        print("&", end=" ")
    for k in range(i):
        print("*", end=" ")
    print("")

& & & *
& & * *
& * * *
* * * *

In [ ]:
for i in range(1, 5):
    for j in range(i,4):
        print(" ", end=" ")
    for k in range(1,i+1):
        print("*", end=" ")
    print("")

      *
    * *
  * * *
* * * *

In [ ]:
for i in range(1, 5):
    for j in range(1,i):
        print(" ", end=" ")
    for k in range(i,5):
        print("*", end=" ")
    print("")

* * * *
  * * *
    * *
      *

In [ ]:
for i in range (1,6):
    for j in range(i,5):
        print(" ", end=" ")
    for k in range(1,2*i):
        print("*", end=" ")
    print("")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [ ]:
#List: Data structure
#Collection of multiple element of multiple data type
#mutable data type, index position
#maintain order
mylist=[]
print(type(mylist))

<class 'list'>

In [ ]:
mylist=[1,2,3,4,5, "Mallika"]
print(mylist)

[1, 2, 3, 4, 5, 'Mallika']

In [ ]:
mylist=[1,2,3,"Mallika",5]
print(type(mylist))

<class 'list'>

In [ ]:
mylist=[1,2,3,4,5, "Mallika"]
print(mylist[2])

3

In [ ]:
mylist=[1,2,3,4,5, "Mallika"]
print(mylist[-2])

5

In [ ]:
#update(Mutable)
mylist=[1,2,3,4,5, "Mallika"]
mylist[0]=99
print(mylist)

[99, 2, 3, 4, 5, 'Mallika']

In [ ]:
#update(Mutable), dost not include tuple
mylist=[1,2,3,4,5, "Mallika"]
mylist[0]=999
mylist[5]="Ayushi"
print(mylist)

[999, 2, 3, 4, 5, 'Ayushi']

In [ ]:
#insert(only one element at a time)
mylist=[1,2,3,4,5, "Mallika"]
mylist.append(88)
print(mylist)

[1, 2, 3, 4, 5, 'Mallika', 88]

In [ ]:
#extend
mylist=[1,2,3,4,5, "Mallika"]
mylist.extend([21,26,17])
print(mylist)

[1, 2, 3, 4, 5, 'Mallika', 21, 26, 17]

In [ ]:
mylist=[1,2,3,4,5, "Mallika"]
mylist.extend("Mallika")
print(mylist)

[1, 2, 3, 4, 5, 'Mallika', 'M', 'a', 'l', 'l', 'i', 'k', 'a']

In [ ]:
#delete(pop)
mylist=[1,2,3,4,5, "Mallika"]
mylist.pop(1)
print(mylist)

[1, 3, 4, 5, 'Mallika']

In [ ]:
mylist=[1,2,3,4,5, "Mallika"]
out=mylist.pop(-1)
print(out)
mylist.pop(0)
print(mylist)

Mallika
[2, 3, 4, 5]

In [ ]:
#Using out variable we saved pop element
mylist=[1,2,3,4,5, "Mallika"]
out=mylist.pop(-1)
print(out)
print(mylist)

Mallika
[1, 2, 3, 4, 5]

In [ ]:
help(mylist)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [ ]:
for i in [10,20,30,"hey"]:
    print(i)

10
20
30
hey

In [ ]:
for i in [10, 21, 17, "35", "hello", "Mallika", 26]:
  if(type(i) is int):
    print(i)

10
21
17
26

In [ ]:
newlist=[]
for i in [10,20, 21, 17, "Mallika"]:
  if(type(i) is int) and i % 2 == 0:
   newlist=[]
  mylist.append(newlist)
print(newlist)

[]

In [ ]:
# tuples are immutable (count and index)
mytuple=10
print(type(mytuple))

<class 'int'>

In [ ]:
#Seprated with commas
mytuple=10, 20, "Mallika"
print(type(mytuple))

<class 'tuple'>

In [ ]:
#dictionary(key= identifier, Value = Data )
#Ordered and Mutable
mydictionary={1:"Mallika", 2:"regex", 3:"python"}
mydictionary[2]

'regex'

In [ ]:
#update (1 is key Mallika is Value)
mydictionary={1:"Mallika", 2:"regex", 3:"python"}
mydictionary[1]= "Ayushi"
print(mydictionary)

{1: 'Ayushi', 2: 'regex', 3: 'python'}

In [ ]:
#insert
mydictionary={1:"Mallika", 2:"regex", 3:"python"}
mydictionary[4]= "Ayushi"
print(mydictionary)

{1: 'Mallika', 2: 'regex', 3: 'python', 4: 'Ayushi'}

In [ ]:
#delete
mydictionary={1:"Mallika", 2:"regex", 3:"python"}
mydictionary.pop(2)
print(mydictionary)

{1: 'Mallika', 3: 'python'}

In [ ]:
mydictionary={1:"Mallika", 2:"regex", 3:"python", "name": "kanak"}
mydictionary.keys()
mydictionary.values()
mydictionary.items()

dict_items([(1, 'Mallika'), (2, 'regex'), (3, 'python'), ('name', 'kanak')])

In [ ]:
mydictionary={1:"Mallika", 2:"regex", 3:"python", "name": "kanak"}
for values in mydictionary:
  print(values, mydictionary[values])

1 Mallika
2 regex
3 python
name kanak

In [ ]:
mydictionary={1:"Mallika", 2:"regex", 3:"python", "name": "kanak"}
for x in mydictionary:
  print(x, mydictionary.values)

1 <built-in method values of dict object at 0x7ac797954f40>
2 <built-in method values of dict object at 0x7ac797954f40>
3 <built-in method values of dict object at 0x7ac797954f40>
name <built-in method values of dict object at 0x7ac797954f40>

In [ ]:
#run loop over a string data and print the total characters in form of dictionaries
total=0
for x in "hello15":
    total += 1
print({"total":total})

{'total': 7}

In [ ]:
mydictionary={"total":0}
for x in "hello12":
    mydictionary["total"] = mydictionary["total"]+1
print(mydictionary)

{'total': 7}

In [ ]:
# "hey tushar hello" find vowels
#{"e":2, "u":1, "0":1}

In [ ]:
#Assingment-
#1
for i in range(1, 10):
    for j in range(i):
        print(" ", end=" ")
    for k in range(i, 9-i):
        print("*", end=" ")
    print("")

  * * * * * * *
    * * * * *
      * * *
        *

In [ ]:
#2
for i in range(5):
    for j in range(i+1):
        print("*", end="")
    print(" ")

for i in range(5):
    for j in range(5-i-1):
        print("*", end="")
    print(" ")

*
**
***
****
*****
****
***
**
*

In [ ]:
#3
for i in range (5):
    for j in range(5-i):
         print("*", end=" ")
    print("")

for i in range (5):
    for j in range(i+1):
         print("*", end=" ")
    print("")

* * * * *
* * * *
* * *
* *
*
*
* *
* * *
* * * *
* * * * *

In [ ]:
#4
for i in range(5):
    print("*", end=" ")
print("")
for i in range(5-1):
    for j in range(5):
        if j == 5 // 2:
           print('*', end=' ')
        else:
             print(' ', end=' ')
    print("")

* * * * *
    *
    *
    *
    *

In [3]:
#5
for i in range(5):
    for j in range(i+1):
        print(j+1, end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [14]:
#6
for i in range(5, 0, -1):
    for j in range(1, i+1):
        if i == 5 or j == 1 or j == i:
            print(j, end=" ")
        else:
            print(" ", end=" ")
    print("")

1 2 3 4 5
1     4
1   3
1 2
1

In [27]:
#7
for i in range(1, 6):
    for j in range(1, 6):
        if j == i or j == 5 or i == 1:
            print(j, end=" ")
        else:
            print(" ", end=" ")
    print("")

1 2 3 4 5
  2     5
    3   5
      4 5
        5

In [42]:
#8
num = 1
for i in range(3):
    for j in range(4 - i):
        print(num, end=" ")
        num += 1
    for k in range(i + 1):
        print("*", end=" ")
    print("")

1 2 3 4 *
5 6 7 * *
8 9 * * *

In [43]:
#9
    for i in range(4, 0, -1):
        for j in range(i):
            print(chr(65 + j), end=" ")
        print()

A B C D
A B C
A B
A

In [46]:
#10
num = 4
for i in range(4):
    line = []
    for j in range(4-i):
        line.append(chr(65+j))
    for k in range(i+1):
        line.append(str(k+1))
    print(" ".join(line))

A B C D 1
A B C 1 2
A B 1 2 3
A 1 2 3 4

In [47]:
#11
current_char = 65
for i in range (4):
    for j in range(4 - i -1):
        print(" ", end=" ")
    for k in range(i+1):
        print(chr(current_char), end=" ")
        current_char += 1
    print("")

      A
    B C
  D E F
G H I J

In [49]:
#12
num = 1
current_char = 65
for i in range (4):
    for j in range(4-i):
      print(chr(current_char), end=" ")
      current_char += 1
    for k in range(i+1):
        print(num, end=" ")
        num += 1
    print("")

A B C D 1
E F G 2 3
H I 4 5 6
J 7 8 9 10

In [50]:
#13
current_char = 65
for i in range (4):
    for j in range(4-i-1):
        print(" ", end=" ")
    for k in range(2*i+1):
        print(chr(current_char), end=" ")
        current_char += 1
    print("")

      A
    B C D
  E F G H I
J K L M N O P

In [54]:
#14
current_char = 65
for i in range (3):
    for j in range(3-i):
        print(" ", end=" ")
    for k in range(2 * i + 1):
        print(chr(current_char + k), end=" ")
    print("")

      A
    A B C
  A B C D E

In [57]:
#15
current_char = 65
for i in range (3):
    for j in range(3-i-1):
        print(" ", end=" ")
    for k in range(i+1):
        if k == i:
            print(chr(current_char + k), end="")
        else:
            print(chr(current_char + k), end="  ")
    print("")

    A
  A  B
A  B  C

In [58]:
#16
start_num = 10
for i in range (3):
    for j in range(3-i-1):
        print(" ", end=" ")
    for k in range(i + 1):
        if k == i:
            print(start_num + i, end="")
        else:
            print(start_num + i, end="  ")
    print("")

    10
  11  11
12  12  12

In [59]:
#17
for i in range(4):
        for j in range(i+1):
            print(chr(65 + j), end=" ")
        print()

A
A B
A B C
A B C D

In [60]:
#18
current_char = 65
for i in range(4):
        for j in range(i+1):
            print(chr(current_char), end=" ")
            current_char += 1
        print()

A
B C
D E F
G H I J

In [61]:
#19
for i in range(4):
        for j in range(4-i):
            print(chr(65 + j), end=" ")
        print()

A B C D
A B C
A B
A

In [62]:
#20
num = 1
for i in range(4):
        for j in range(i+1):
            print(num, end=" ")
            num += 1
        print()

1
2 3
4 5 6
7 8 9 10

In [67]:
#21
for i in range(4):
        for j in range(i+1):
            print(j+1, end=" ")
        print()

1
1 2
1 2 3
1 2 3 4

In [69]:
#22
for i in range(5):
        for j in range(5-i):
            print(j+1, end=" ")
        print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [72]:
#23
for i in range(4):
        for j in range(i+1):
            print(i+1, end=" ")
        print()

1
2 2
3 3 3
4 4 4 4

In [73]:
#24
for i in range(4):
        for j in range(4-i):
            print(4-j, end=" ")
        print()

4 3 2 1
4 3 2
4 3
4

In [77]:
#25
start_char = ord("F")
for i in range(6):
        for j in range(6-i):
            print(chr(start_char - j), end=" ")
        print()

F E D C B A
F E D C B
F E D C
F E D
F E
F

In [80]:
#26
start_char = ord("D")
for i in range(4):
        for j in range(i+1):
            print(chr(start_char - j), end=" ")
        print()

D
D C
D C B
D C B A

In [81]:
#27
start_char = ord("D")
for i in range(4):
        for j in range(4-i):
            print(chr(start_char - j), end=" ")
        print()

D C B A
D C B
D C
D

In [87]:
#28
start_num = 10
for i in range (3):
    for j in range(i+1):
        print(start_num, end=" ")
        start_num += 1
    print("")

10
11 12
13 14 15

In [89]:
#29
start_num = 10
for i in range (4):
    for j in range(i+1):
        print(start_num + j, end=" ")

    print("")

10
10 11
10 11 12
10 11 12 13

In [94]:
#30
for i in range(1,6):
        for j in range(1,i+1):
            if j % 2 == 0:
                print("2", end=" ")
            else:
                print("1", end=" ")
        print()

1
1 2
1 2 1
1 2 1 2
1 2 1 2 1